body {
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  line-height: 64px;
  background-color: #C92229;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15), 0 0 0;
}
#main {
  max-width: 840px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15), 0 0 0;
}
#title {
  font-size: 20px;
}
.nav_item {
  display: inline;
  vertical-align: middle;
  line-height: inherit;
  color: #fff;
}
.avatar {
  vertical-align: middle;
  margin: 8px;
  width: 42.66666667px;
  height: 42.66666667px;
  display: inline-block;
}
.msg {
  position: relative;
  border-top: 1px solid #f9f9f9;
}
.msg_meta {
  margin-left: 64px;
}
.msg_username {
  display: inline;
  font-size: 16px;
  color: #333;
}
.msg_date {
  font-size: 12px;
  color: #ababab;
}
.msg_main {
  margin-left: 64px;
}
.msg_body {
  font-size: 12px;
  color: #333;
}
.msg_avatar {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 42.66666667px;
  height: 42.66666667px;
}
.msg_image {
  max-width: 256px;
  margin: 0 auto;
}
